<div class="card card-body mb-2">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <textarea
        type="text"
        name="text"
        [(ngModel)]="text"
        class="form-control"
        placeholder="Add a note..."
      >
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary mr-1" [disabled]="!this.text">
      {{ isNew ? 'Add note' : 'Update note' }}
    </button>
    <button
      (click)="clearState()"
      type="button"
      class="btn btn-secondary"
      [hidden]="!this.text"
    >
      Clear
    </button>
  </form>
</div>
